.loginsite{
    background-color: aliceblue;
    border-radius: bold;
    position: fixed;
    right: 0;
    font-size: 20px;
    width: 120px;
    height: 70px;
}

header{

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 1rem;
    background: rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suwonhightech {
    width: 0px;
    bottom: 0px;
    margin: 0;
}

body {
    background-position-y: top;
    margin-top: 50px;
    padding-top: -50px;
    background-image: url(팔로우이벤트.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    bottom: 0;
    background-size: 800px;
    /* object-fit: cover; */
}

.container{
    position: relative;
    text-align: center;
    margin-top: 180px;
}

.input{
    position: relative;
    margin: 10px;
    width : 480px;
    height : 50px;
}

button{
    width : 160px;
    height : 100px;
    background-color: white;
    /* border: none; */
    color: black;
    box-shadow: 0 4px 16px rgba(0, 79, 120, 0.4);
    font-size: 40px;
    font-weight: normal;
    border-radius: 20px;
    transition: 0.3s;
    margin: 2px;
}
button:focus{
    outline: 0;
}
button:hover{
    background-color: rgba(0, 79, 120, 0.6);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 79, 120, 0.35);
}

